.menu__titulo {
    text-align: justify;
    font-family: Niconne;
    font-size: 70px;
    margin-top: auto;
    display: flex;

}

.foto__perfil {
    border-radius: 900px;
    width: 170px;
    height: 150px;
}